<!doctype html>
<html lang="fr">
  {{ partial "head-impression.html" . }}
<body>
  <section class="main">
    <section class="couverture">
      {{ partial "couverture.html" . }}
    </section>
    {{ partial "sommaire.html" . }}
    {{range .Site.RegularPages.ByWeight}}
    <section class="chapitre">
    <h2 class="titre-chapitre" id="{{.File.BaseFileName}}">{{ .Params.chapter | markdownify }}</h2>
    <h3>{{ .Title | markdownify }}</h3>
    <div class="contenu">
        {{ .Content }}
    </div>
    </section>
    {{end}}
    {{ if eq .Site.Params.quatrieme "oui" }}
    <section class="derniere">
      <p>{{ .Site.Params.licence }} {{ .Site.Params.auteur }}</p>
      <p>{{ .Site.Params.isbn }}</p>
    </section>
    {{ end }}
  </section>
</body>
</html>